@charset "UTF-8";

/* animations */

.window-1,
.window-2,
.window-3,
.social-media-box,
.window-4,
.window-5 {
    transition: transform 0.4s ease-in-out;
}

.window-1:hover,
.window-2:hover,
.window-3:hover,
.social-media-box:hover,
.window-4:hover {
    transform: translateY(-3px) scale(1.01);
}

.window-5:hover {
    transform: translateY(-3px);
}