@charset "UTF-8";

/* rodapé */

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.copyright {

    font-size: 0.75rem;
    color: var(--color-5);
    text-align: center;
    opacity: 0.8;
}

.dev-credits {
    font-size: 0.70rem;
    color: var(--color-5);
    opacity: 0.8;
    letter-spacing: 0.01rem;
}

.dev-credits a {
    color: var(--color-4);
}