@charset "UTF-8";

/* janela 5 */

.window-5 {
    background-color: var(--color-4);
    padding: 0.95rem;
}

.portfolio {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.8rem;
}

.portfolio i {
    font-size: 2.6rem;
    color: black;
    animation: fly 4s ease-in-out infinite;
}

.portfolio h2 {
    font-size: 1.6rem;
    font-weight: 500;
    color: black;
}

@keyframes fly {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}