@charset "UTF-8";

/* janela 1 */

.window-1 {
    padding: 0.95rem;
}

.dev-info {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: top;
    text-align: left;
    gap: 0.6rem;
}

.window-1 img {
    width: 100%;
    border-radius: 8px;
}

.dev-img {
    width: 15%;
    height: 15%;
    border: 1rem;
}

.dev-name h1 {
    font-size: 1.4rem;
    color: var(--color-5);
    font-weight: 650;
}

.dev-name span {
    font-size: 1rem;
    color: var(--color-5);
    font-weight: 500;
}

.logo {
    width: 45px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.logo img {
    width: 100%;
    animation: rotate 8s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 372px) {
    .dev-name h1 {
        font-size: 1.2rem;
        font-weight: 650;
    }

    .dev-name span {
        font-size: 0.8rem;
    }

    .logo {
        width: 35px;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .logo img {
        width: 100%;
    }
}