@charset "UTF-8";

/* window-1 */

.window-1 {
    width: 100%;
    height: 12%;
    background-color: var(--color-3);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 2px solid var(--color-6);
}

.window-1 .dev-info {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: top;
    text-align: left;
    gap: 0.6rem;
}

.window-1 img {
    width: 100%;
    border-radius: 8px;
}

.window-1 .dev-img {
    width: 15%;
    height: 15%;
    border: 1rem;
}

.window-1 .dev-name h1 {
    font-size: 1.4rem;
    color: var(--color-5);
    font-weight: 650;
}

.window-1 .dev-name span {
    font-size: 1rem;
    color: var(--color-5);
    font-weight: 550;
}

.window-1 .logo {
    width: 45px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.window-1 .logo img {
    width: 100%;
    animation: rotate 8s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 372px) {
    .window-1 .dev-name h1 {
        font-size: 1.2rem;
        font-weight: 650;
    }

    .window-1 .dev-name span {
        font-size: 0.8rem;
    }

    .window-1 .logo {
        width: 35px;
        display: flex;
        justify-content: right;
        align-items: center;
    }

    .window-1 .logo img {
        width: 100%;
    }
}