@charset "UTF-8";

/* normalize */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}

@layer base {
    :root {
        --background: 222 47% 4%;
        --foreground: 213 31% 91%;

        --card: 222 47% 8%;

        --primary: 250 65% 65%;
        --primary-foreground: 213 31% 91%;

        --border: 217 33% 20%;
    }

    * {
        @apply border-border;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply bg-background text-foreground transition-colors duration-300;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}