@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* variáveis */

:root {
    /* palheta de cores */
    --gainsboro: rgb(223, 205, 224);
    --thistle: #cab4d9;
    --plum: rgb(194, 145, 242, 1);
    --mediumPurple: rgb(174, 126, 242);
    --royalBlue: rgb(4, 75, 217, 1);
    --floralWhite: #f2efeb;

    /* fontes */
    --principal: 'lato', Arial, Helvetica, sans-serif;
}